{% extends 'base.html.twig' %}

{% block body %}
	<div class="container no-gutters" style="margin-bottom: 15px">
		<div class="row justify-content-start align-items-center">
			<div class="col-md-auto">
				<marquee><h1 class="text-center">Catalogue de livres</h1></marquee>
			</div>
			<div class="col-md-auto">
				<a class="btn btn-primary" href="{{ path('book_new') }}" role="button">Ajouter un livre</a>
			</div>
		</div>
	</div>

    <table class="table table-hover">
        <thead class="table-success">
		<tr class="thead-dark">
				<td>Photo de couverture</td>
                <td>Titre</td>
				<td>Auteur</td>
		</tr> 
		</thead>
        <tbody>
		{% for book in books %}
            <tr>
				<td><img src="{{ asset('uploads/covers/' ~ book.cover) }}" alt="img" width=20%/></td>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.name }}</a></td>
				<td>
					{% for author in book.authors %}
					{{ (author.getFullName()) }}<br>
					{% endfor %}
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>	
{% endblock %}
