{% extends 'base.html.twig' %}

{% block body %}
	<div class="container no-gutters" style="margin-bottom: 15px">
		<div class="row justify-content-start align-items-center">
			<div class="col-md-auto">
				<h1>{{ book.name }}</h1>
			</div>
			<div class="col-md-auto">
				<a class="btn btn-success" href="{{ path('book_edit', { 'id': book.id }) }}" role="button">Éditer</a> 
			</div>
		  </div>
	</div>    
	<div class="container no-gutters">
		<div class="row justify-content-start align-items-top">
			<div class="col-md-auto">
				<img src="{{ asset('uploads/covers/' ~ book.cover) }}" alt="{{ book.cover }}" />
			</div>
			<div class="col-md-auto">
				<table class="table">
					<tbody>
						<tr>
							<th>Année de L'edition</th>
							<td>{{ book.publishingYear }}</td>
						</tr>
						<tr>
							<th>N° ISBN</th>
							<td>{{ book.isbn }}</td>
						</tr>
						<tr>
							<th>Nombre de pages</th>
							<td>{{ book.pageCount }}</td>
						</tr>
						<tr>
							<th>Auteur</th>
							<td>
								{% for author in book.authors %}
								{{ (author.getFullName()) }}<br>
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>					
			</div>			
		</div>
	</div>
	
{% endblock %}
